.grid {
	flex: 1;
	user-select: none;

	& > * {
		display: flex;
		justify-content: center;
		align-items: center;

		border: 1px dashed rgba(125, 125, 125, 0.5);

		&:empty:hover {
			$dark: rgba(77, 77, 77, 0.5);
			$light: rgba(125, 125, 125, 0.5);

			border-radius: 5px;
			margin: 1px;
			cursor: pointer;
			background: repeating-linear-gradient(
				45deg,
				$light,
				$light 10px,
				$dark 10px,
				$dark 20px
			);
		}
	}
}
