.timetable {
  display: grid;
  grid-template-areas: ". week" "time content";
  grid-template-columns: 120px;
  grid-template-rows: 60px;
  width: 100vw;
  height: calc(94vh - 105px);
}
.timetable .accent-color-1-gradient {
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #ee8ebc, #eea08e);
  transition: 0.2s ease box-shadow, 0.2s ease transform;
}
.timetable .accent-color-1-gradient:hover {
  box-shadow: 0 20px 30px 0 rgba(238, 142, 188, 0.3);
  transform: scale(1.05);
}
.timetable .accent-color-2-gradient {
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #ee8e9c, #eec08e);
  transition: 0.2s ease box-shadow, 0.2s ease transform;
}
.timetable .accent-color-2-gradient:hover {
  box-shadow: 0 20px 30px 0 rgba(238, 142, 156, 0.3);
  transform: scale(1.05);
}
.timetable .accent-color-3-gradient {
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #eea08e, #eee08e);
  transition: 0.2s ease box-shadow, 0.2s ease transform;
}
.timetable .accent-color-3-gradient:hover {
  box-shadow: 0 20px 30px 0 rgba(238, 160, 142, 0.3);
  transform: scale(1.05);
}
.timetable .accent-color-4-gradient {
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #eec08e, #dcee8e);
  transition: 0.2s ease box-shadow, 0.2s ease transform;
}
.timetable .accent-color-4-gradient:hover {
  box-shadow: 0 20px 30px 0 rgba(238, 192, 142, 0.3);
  transform: scale(1.05);
}
.timetable .accent-color-5-gradient {
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #eee08e, #bcee8e);
  transition: 0.2s ease box-shadow, 0.2s ease transform;
}
.timetable .accent-color-5-gradient:hover {
  box-shadow: 0 20px 30px 0 rgba(238, 224, 142, 0.3);
  transform: scale(1.05);
}
.timetable .accent-color-6-gradient {
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #dcee8e, #9cee8e);
  transition: 0.2s ease box-shadow, 0.2s ease transform;
}
.timetable .accent-color-6-gradient:hover {
  box-shadow: 0 20px 30px 0 rgba(220, 238, 142, 0.3);
  transform: scale(1.05);
}
.timetable .accent-color-7-gradient {
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #bcee8e, #8eeea0);
  transition: 0.2s ease box-shadow, 0.2s ease transform;
}
.timetable .accent-color-7-gradient:hover {
  box-shadow: 0 20px 30px 0 rgba(188, 238, 142, 0.3);
  transform: scale(1.05);
}
.timetable .accent-color-8-gradient {
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #9cee8e, #8eeec0);
  transition: 0.2s ease box-shadow, 0.2s ease transform;
}
.timetable .accent-color-8-gradient:hover {
  box-shadow: 0 20px 30px 0 rgba(156, 238, 142, 0.3);
  transform: scale(1.05);
}
.timetable .accent-color-9-gradient {
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #8eeea0, #8eeee0);
  transition: 0.2s ease box-shadow, 0.2s ease transform;
}
.timetable .accent-color-9-gradient:hover {
  box-shadow: 0 20px 30px 0 rgba(142, 238, 160, 0.3);
  transform: scale(1.05);
}
.timetable .accent-color-10-gradient {
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #8eeec0, #8edcee);
  transition: 0.2s ease box-shadow, 0.2s ease transform;
}
.timetable .accent-color-10-gradient:hover {
  box-shadow: 0 20px 30px 0 rgba(142, 238, 192, 0.3);
  transform: scale(1.05);
}
.timetable .accent-color-11-gradient {
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #ee8ebc, #eea08e);
  transition: 0.2s ease box-shadow, 0.2s ease transform;
}
.timetable .accent-color-11-gradient:hover {
  box-shadow: 0 20px 30px 0 rgba(238, 142, 188, 0.3);
  transform: scale(1.05);
}
.timetable .accent-color-12-gradient {
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #ee8edc, #ee8e9c);
  transition: 0.2s ease box-shadow, 0.2s ease transform;
}
.timetable .accent-color-12-gradient:hover {
  box-shadow: 0 20px 30px 0 rgba(238, 142, 220, 0.3);
  transform: scale(1.05);
}
.timetable .accent-color-13-gradient {
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #e08eee, #ee8ebc);
  transition: 0.2s ease box-shadow, 0.2s ease transform;
}
.timetable .accent-color-13-gradient:hover {
  box-shadow: 0 20px 30px 0 rgba(224, 142, 238, 0.3);
  transform: scale(1.05);
}
.timetable .accent-color-14-gradient {
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #c08eee, #ee8edc);
  transition: 0.2s ease box-shadow, 0.2s ease transform;
}
.timetable .accent-color-14-gradient:hover {
  box-shadow: 0 20px 30px 0 rgba(192, 142, 238, 0.3);
  transform: scale(1.05);
}
.timetable .accent-color-15-gradient {
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #a08eee, #e08eee);
  transition: 0.2s ease box-shadow, 0.2s ease transform;
}
.timetable .accent-color-15-gradient:hover {
  box-shadow: 0 20px 30px 0 rgba(160, 142, 238, 0.3);
  transform: scale(1.05);
}
.timetable .accent-color-16-gradient {
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #8e9cee, #c08eee);
  transition: 0.2s ease box-shadow, 0.2s ease transform;
}
.timetable .accent-color-16-gradient:hover {
  box-shadow: 0 20px 30px 0 rgba(142, 156, 238, 0.3);
  transform: scale(1.05);
}
.timetable .accent-color-17-gradient {
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #8ebcee, #a08eee);
  transition: 0.2s ease box-shadow, 0.2s ease transform;
}
.timetable .accent-color-17-gradient:hover {
  box-shadow: 0 20px 30px 0 rgba(142, 188, 238, 0.3);
  transform: scale(1.05);
}
.timetable .accent-color-18-gradient {
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #8edcee, #8e9cee);
  transition: 0.2s ease box-shadow, 0.2s ease transform;
}
.timetable .accent-color-18-gradient:hover {
  box-shadow: 0 20px 30px 0 rgba(142, 220, 238, 0.3);
  transform: scale(1.05);
}
.timetable .accent-color-19-gradient {
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #8eeee0, #8ebcee);
  transition: 0.2s ease box-shadow, 0.2s ease transform;
}
.timetable .accent-color-19-gradient:hover {
  box-shadow: 0 20px 30px 0 rgba(142, 238, 224, 0.3);
  transform: scale(1.05);
}
.timetable .week-names {
  grid-area: week;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-transform: uppercase;
  font-size: 12px;
}
.timetable .week-names > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-shadow: inset 1px 0 0 #eceff1;
}
.timetable .time-interval {
  grid-area: time;
  display: grid;
  grid-template-rows: repeat(11, 1fr);
  font-size: 14px;
}
.timetable .time-interval > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 1px 0 0 #eceff1;
}
.timetable .content {
  grid-area: content;
  display: grid;
  grid-template-rows: repeat(11, 1fr);
  grid-template-columns: repeat(5, 1fr);
}
.timetable .content > div {
  display: flex;
  flex-direction: center;
  align-items: center;
  box-shadow: inset 1px 0 0 #eceff1, inset 0 1px 0 0 #eceff1;
}
.timetable .content > div .name {
  color: white;
  margin: 0 auto;
  font-size: 23px;
  text-shadow: #000 1px 1px 3px;
}